<% content_for :nav do %>
  <%= javascript_import_module_tag "nav_bar" %>
<% end %>
<nav class="navbar-container">
    <h3>regularly</h3>
    <div class="links-container">
        <% if !user_signed_in? %>
            <%= link_to "sign in", new_user_session_path, class:"nav-btn"%>
            <%= link_to "sign up", new_user_registration_path, class:"nav-btn"%>
        <% else %>
            <%= link_to "dashboard", dashboard_index_path, class:"nav-btn"%>
            <%= link_to "log out", destroy_user_session_path, class:"nav-btn", data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } %>
        <% end %>

    </div>
</nav>