<article id=<%= year.year %> class="single-year-article">
  <div class="<%= year.organised_year_and_total[:is_on_target] ? 'single-year-brief achieved' : 'single-year-brief under-achieved' %>">
    <div class="brief-target">
      <p>
        <strong>Year:</strong>
        <%= year.year %>
      </p>
      <p>
        <strong>Monthly target:</strong>
        <%= year.monthly_target %>
      </p>
    </div>
    <div class="brief-total">
      <p>
        <strong>Year total: </strong>
        <%= year.organised_year_and_total[:total]%>
        
     </p>
      <p>
        <small class="single-year-brief-message">
          <%= year.organised_year_and_total[:is_on_target]  ? "target met! good job!" : "below expected, oh well!" %>
        </small>
      </p>
    </div>    
  </div>
  
  <div class="single-year-months-container">
    <% year.organised_year_and_total[:months_object].each do |key, value| %>
      <p>
        <strong><%= key %>:</strong>
        <%= value %>
      </p>
    <% end %>
  </div>
  <p>
    <strong>Created:</strong>
    <%= year.created_at %>
  </p>

  <%= link_to "More info", "years/#{year.id}", class:"show-year-link" %>
</article>