<article id="<%= dom_id year %>" class="single-year-article">
  <div class="single-year-brief">
    <div class="brief-target">
      <p>
        <strong>Year:</strong>
        <%= year.year %>
      </p>

      <p>
        <strong>Monthly target:</strong>
        <%= year.monthly_target %>
      </p>
      <p>
        <strong>Year total: </strong>
        <%= year.year%>
      </p>
    </div>
  </div>
  
  <div class="single-year-months-container">
    <p class="single-year-month">
      <strong>January:</strong>
      <%= year.january %>
    </p>

    <p>
      <strong>Febuary:</strong>
      <%= year.febuary %>
    </p>

    <p>
      <strong>March:</strong>
      <%= year.march %>
    </p>

    <p>
      <strong>April:</strong>
      <%= year.april %>
    </p>

    <p>
      <strong>May:</strong>
      <%= year.may %>
    </p>

    <p>
      <strong>June:</strong>
      <%= year.june %>
    </p>

    <p>
      <strong>July:</strong>
      <%= year.july %>
    </p>

    <p>
      <strong>August:</strong>
      <%= year.august %>
    </p>

    <p>
      <strong>September:</strong>
      <%= year.september %>
    </p>

    <p>
      <strong>October:</strong>
      <%= year.october %>
    </p>

    <p>
      <strong>November:</strong>
      <%= year.november %>
    </p>

    <p>
      <strong>December:</strong>
      <%= year.december %>
    </p>
  </div>
  

  <p>
    <strong>Edited:</strong>
    <%= year.created_at %>
  </p>

</article>
