<article id="<%= dom_id year %>" class="single-year-article">
  <div class="single-year-brief">
    <div class="brief-target">
      <p>
        <strong>Year:</strong>
        <%= year.year %>
      </p>

      <p>
        <strong>Monthly target:</strong>
        <%= year.monthly_target %>
      </p>
      <p>
        <strong>Year total: </strong>
        <%= year.organised_year_and_total[:total] %>
      </p>
    </div>
  </div>
  
  <div class="single-year-months-container">
    <% year.organised_year_and_total[:months_object].each do |key, val| %>
      <p>
        <strong><%= key %>:</strong>
        <%= val %>
      </p>
    <% end %>
  </div>
  
  <p>
    <strong>Created</strong>
    <small><%= year.created_at.strftime("at %H:%M on %d/%m/%y") %></small>
  </p>
</article>
