<section class="section years-section">

<p style="color: green"><%= notice %></p>
<%= render @year %>

<div class="show-links-container">
  <div class="show-links-fragment">
    <%= link_to "Edit this year", edit_year_path(@year), class: "btn bg-color-two show-link" %>
    <%= link_to "Back to years", years_path, class: "btn bg-color-one show-link" %>
  </div>
  <%= button_to "Destroy this year", @year, method: :delete, class: "btn bg-color-three show-link" %>
</div>
</section>