<!DOCTYPE html>
<html>
  <head>
    <title>RegularlySavingV1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "navbar","home_page", "sign_in", "shared", "edit_user", "dashboard" %>
    <%= javascript_importmap_tags %>
    <%# <meta name="turbo-visit-control" content="reload"> %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Chakra+Petch:wght@300&family=Kumbh+Sans:wght@100&family=Noto+Sans+Mono&family=Zen+Loop&display=swap" rel="stylesheet">
  </head>

  <body>
    
    <%= render "partials/nav_bar"%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%# <%= yield(:nav) %>
    <%# <%= yield(:year) %> 
    <%# <%= yield(:dash)%>
    <%= yield %>
  </body>
</html>
